.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj
R/.Rhistory
..Rcheck/
*.Rcheck/
lib/
.local-lib/
Rplots.pdf
*.tar.gz
.codex
reports/
scripts/
plots-examples-style/
inst/reference_src/**/.github/
inst/reference_src/**/.gitignore
inst/reference_src/**/.Rbuildignore
inst/reference_src/**/revdep/
inst/reference_src/**/build/
inst/reference_src/**/data/
inst/reference_src/**/inst/doc/
inst/reference_src/**/man/
inst/reference_src/**/tests/
inst/reference_src/**/vignettes/
